# Ignorar archivos de Laravel
/backend/vendor/
/backend/node_modules/
/backend/.env

# Ignorar archivos de React + Vite
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.DS_Store

# Archivos de sistema
.DS_Store
Thumbs.db