.seleccion-usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: auto;
    width: 40%;
    padding: 20px;
  }
  
  .div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
  }
  
  .form-registro {
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
    
  .form-registro input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .div-select {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  
  .div-select select {
    width: 30%;
    padding: 5px;
    height: auto;
    width: fit-content;
  }
    
  .form-registro button {
    background-color: #28a745;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
    
  button:hover {
    background-color: #0056b3;
    color:white;
  }