.login {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  min-height: 100vh;
}

.login-body{
  width: 100%;
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-body h2 {
  font-size: 3rem;
  font-weight: bold;
}

.login-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 50px;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f4f4f4;
  margin: auto;
  padding: 10px 40px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
}

.form-login label {
  text-align: left;
  font-weight: 600;
}

.form-login input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.iniciar-sesion {
  background-color: #9c39d4;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

button.registro {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
} 