.registro {
  color: #9c39d4;
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.registro-body {
  padding: 50px 0;
}

.registro-body h2 {
  font-size: 2rem;
  font-weight: bold;
}

.seleccion-usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: auto;
  width: 40%;
  padding: 20px;
}

.seleccion-usuario button {
  background-color: white;
  color: #9c39d4;
  border: 1px solid #9c39d4;
  border-radius: 10px;
}

.activo {
  background-color: #9c39d4 !important;
  color: white !important;
}

.div-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.form-registro {
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}
  
.form-registro input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

.div-select {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.div-select select {
  width: 30%;
  padding: 5px;
  height: auto;
  width: fit-content;
}
  
.form-registro button {
  background-color: #28a745;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
button:hover {
  background-color: #0056b3;
  color:white;
}