#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.div-header {
  width: 100%;
  background-color: #f1f1f1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 30px;
  gap: 20px;
  color: #333;
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}  

.usuario-header {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 15px;
}

.div-sesion button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #9c39d4;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.enlace-perfil {
  font-size: 1.2rem;
  text-decoration: underline;
}

.botones-sesion {
  display: flex;
  flex-direction: row;
  justify-self: start;
  gap: 20px;
}

.cerrar-sesion {
  background-color: #9c39d4;
  width: fit-content;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.icono-usuario {
  background-color: #bbbbbb;
  border: 2px solid black;
  border-radius: 100px;
  padding: 10px 15px;
  width: fit-content;
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ddd;
}